
.bod{
    margin-left:10%;
    margin-right: 4%;
}

.bod .content .tab_content{
    display:flex;
    justify-content: center;
}

.content{
    border-radius:3px;
    
}

.content .tab_content{
    padding:20px;
}

.content .tab_content ul{
    display: flex;
    align-content: center;
    background:#f4fafe;
    border-radius: 3px;
}

.content .tab_content ul li{
    padding:10px 120px;
    text-align:center;
    cursor:pointer;
    border-radius: 3px;
}

.content .tab_content ul li:hover,
.content .tab_content ul li.active{
    background-color: #e4edf5;
} 


.inbox li .all{
    display:flex;
    align-items: center;
    padding:10px 20px;
    border-bottom:1px solid #e4edf5;
    cursor:pointer;
}

.inbox li .all:hover{
    background-color:#e4edf5 ;
}

.inbox li:last-child .all{
    /* border-bottom:0; */
}

.inbox li .all img{
    width: 60px;
    height:60px;
}

.grid{
    margin:80px;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:30px;
    align-items: center;
}

.grid > article{
    background: #eee5e9;
    border:none;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
    border-radius: 20px;
    text-align: center;
    width:250px;
    transition: transform .3s;

}

.grid > article:hover{
    transform: translateY(5px);
    box-shadow: 2px 2px 26px 0px rgba(0,0,0,0.3);
}

.grid > article img{
    width:  100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.text{
    padding:0 20px 20px;
    background: white;
}

.text p{
    padding-top: 10px;
    font-size:16px;
}


h3{
    border-bottom:2px solid black;
    text-align: center;
    margin-right: 380px;
    text-transform: uppercase;
    margin-left: 380px;
}

#listp .text button{
    background: rgb(94, 226, 149);
    border-radius: 20px;
    color:black;
    padding:10px;
    border: none;
    width:100%;
    font-weight: 600;
    text-transform: uppercase;
    cursor:pointer;
}

#listv .text button{
    background: rgb(214, 76, 76);
    border-radius: 20px;
    color:white;
    padding:10px;
    border: none;
    width:100%;
    font-weight: 600;
    text-transform: uppercase;
    cursor:pointer;
}



@media (max-width: 768px){
    .grid{
        grid-template-columns: repeat(2,1fr);
    }

}

@media (max-width: 500px){
    .grid{
        grid-template-columns: repeat(1,1fr);
    }
    .grid >article{
        text-align:center;
    }
    
}