
.bod{
    margin-left:10%;
    margin-right: 4%;

}

.bod .content .tab_content{
    display:flex;
    justify-content: center;
}

.content{
    border-radius:3px;
    
}

.content .tab_content{
    padding:20px;
}

.content .tab_content ul{
    display: flex;
    align-content: center;
    background:#f4fafe;
    border-radius: 3px;
}

.content .tab_content ul li{
    padding:10px 120px;
    text-align:center;
    cursor:pointer;
    border-radius: 3px;
}

.content .tab_content ul li:hover,
.content .tab_content ul li.active{
    background-color: #e4edf5;
} 


.inbox li .all{
    display:flex;
    align-items: center;
    padding:10px 20px;
    border-bottom:1px solid #e4edf5;
    cursor:pointer;
}

.inbox li .all:hover{
    background-color:#e4edf5 ;
}

.inbox li:last-child .all{
    /* border-bottom:0; */
}

.inbox li .all img{
    width: 60px;
    height:60px;
}

