/* *{
    margin:0;
    padding:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} */

body{
    background: #f3f6fd;
    font-family: Roboto;
}

#mca_app{
    padding-left: 50px;
    padding-top: 20px;
    overflow-x: hidden;
}

#mca_app > section{
    padding-top: 20px;
    padding-bottom: 0;
}

#mca_side_bar{
    position: fixed;
    height: 100%;
    width:80px;
    background: #669cfe;
    left: 0;
    top: 0;
    text-align: center;
}

#mca_side_bar .chat_profile{
    height: 15%;
    padding-top: 10px;
    padding-bottom: 100px;
}

.chat_profile img{
    height: 50px;
    object-fit: cover;
    width: 50px;
    border-radius: 50%;
    background: #f3f6fd;
    padding: 3px;
    margin-bottom: 5px;

}


.chat_profile > span{
    font-size: 14px;
    font-weight: 400;
    color: #eee;
}

#mca_side_bar .chat_menu{
    height:75%;
}

.chat_menu ul{
    position:relative;
    padding:0;
}

.chat_menu ul li{
    position: relative;
    list-style: none;
    font-size: 17px;
    color: rgba(243,246,253,0.6);
    padding:10px;
    margin-bottom:15px;
    width: 50px;
    height: 50px;
}

.chat_menu ul li.active{
    background-color: rgba(0,0,0,0.13);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 58px;
    border:none;
    outline: none;
    border-radius: 50%;
}

.chat_menu ul li:hover{
    background-color: rgba(0,0,0,0.13);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 58px;
    border:none;
    outline: none;
    border-radius: 50%;
}

.icon-button__badge{
    position: absolute;
    top:-10px;
    right:-10px;
    width: 30px;
    height:  30px;
    background: red;
    color: #fff;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:50%;
}



#mca_side_bar .chat_bar{
    height: 10%;
    padding-top: 10px;
    width: 50px;
    height: 50px;
    font-size: 17px;
}