*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

body{
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #5573ec;
}

.wrapper{
    width: 380px;
    background: #fff;
    text-align: center;
    padding:40px 30px 50px 30px;
    border-radius:5px;
}

.wrapper header{
    font-size:35px;
    font-weight: 600;
}

.wrapper form{
    margin:40px 0;
}

form .field {
    width:100%;
    margin-bottom:20px;
}


form .field .input-area{
    position: relative;
}

form input{
    height:50px;
    width:100%;
    padding:0 15px;
    font-size: 18px;
    outline:none;
    border-radius:5px;
    border:1px solid #bfbfbf;
    border-bottom-width: 2px;
}

form input::placeholder{
    color:#bfbfbf;
    font-size:20px;
    text-align: center;
}

form .field i{
    position: absolute;
    top: 50%;
    font-size: 18px;
    transform:translateY(-50%) ;
    right:15px;
    color:#ccc;
    cursor: pointer;
    
}


form .field .icon{
    left:15px;
    color:#bfbfbf;
}

.input-center{
    text-align: center;
}


form .pass-link{
    text-align: left;
    margin-top: -10px;
}

.wrapper a{
    color:#5372F0;
    text-decoration: none;
}

.wrapper a:hover{
    text-decoration: underline;
}

form input[type="submit"]{
    margin-top:30px;
    border:none;
    color:#fff;
    cursor: pointer;
    background: #5372F0;
    transition: background 0.2s ease;
}

form .field i.active::before{
    color: #333;
    content:"\f070";
}

input[type="submit"]:hover{
    background: #2c52ed;
}

.error-css{
    display: none;
}